html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}


.tabs-anuncios {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .tabs-anuncios .android-frame {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .tabs-anuncios .store-item {
    width: 100%;
    align-items: flex-start;
    gap: 4px;
    background-color: #fbf8f333;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
    border-radius: 32px;
  }
  
  .tabs-anuncios .frame {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .tabs-anuncios .div {
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 200px;
    background-color: #ffffff;
    overflow: hidden;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
    border-radius: 32px;
    width: 100%;
  }
  
  .tabs-anuncios .tab {
    display: flex;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .tabs-anuncios .tab-item {
    display: inline-flex;
    height: 56px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0px 16px;
    position: relative;
    flex: 0 0 auto;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #eb6e07;
  }
  
  .tabs-anuncios .frame-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
    width: 100%;
  }
  
  .tabs-anuncios .label {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Roboto Flex", Helvetica;
    font-weight: 600;
    color: #eb6e07;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .card-slide {
    max-width: 375px;
  width: 100vw;
  padding: 16px 0;
  margin: 0 auto;
  box-shadow: var(--soft-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  }
  
  .tabs-anuncios .frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 0px 16px; /* más contenido, menos riesgo */
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

  
  .tabs-anuncios .frame-wrapper::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  
  .tabs-anuncios .card-vertical-wrapper {
    display: flex;
    width: 100%;
    height: 443px;
    align-items: flex-start;
    gap: 4px;
    position: relative;
  }
  
  .tabs-anuncios .card-vertical {
    width: 100%;
    height: 443px;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #eb6e0726;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: var(--blur);
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .tabs-anuncios .frame-3 {
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
    border-radius: 8px;
    box-shadow: var(--blur);
    background: url(https://c.animaapp.com/m98ecjz1offSR2/img/frame-102.png) 50%
      50% / cover;
  }
  
  .tabs-anuncios .frame-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff33;
  }
  
  .tabs-anuncios .frame-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 24px 24px 0px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
  }
  
  .tabs-anuncios .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--mobile-heading-h4-font-family);
    font-weight: var(--mobile-heading-h4-font-weight);
    color: #000122;
    font-size: var(--mobile-heading-h4-font-size);
    letter-spacing: var(--mobile-heading-h4-letter-spacing);
    line-height: var(--mobile-heading-h4-line-height);
    font-style: var(--mobile-heading-h4-font-style);
    word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  width: 100%;
  }
  
  .tabs-anuncios .hola-soy-marta-del {
    position: relative;
    align-self: stretch;
    font-family: var(--mobile-body-regular-s-font-family);
    font-weight: var(--mobile-body-regular-s-font-weight);
    color: #000122;
    font-size: var(--mobile-body-regular-s-font-size);
    letter-spacing: var(--mobile-body-regular-s-letter-spacing);
    line-height: var(--mobile-body-regular-s-line-height);
    font-style: var(--mobile-body-regular-s-font-style);
    word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  width: 100%;
  }
  
  .tabs-anuncios .most-fonts-have-a {
    position: relative;
    width: fit-content;
    font-family: var(--WF-body-body-extra-small-font-family);
    font-weight: var(--WF-body-body-extra-small-font-weight);
    color: #6f6c69;
    font-size: var(--WF-body-body-extra-small-font-size);
    letter-spacing: var(--WF-body-body-extra-small-letter-spacing);
    line-height: var(--WF-body-body-extra-small-line-height);
    font-style: var(--WF-body-body-extra-small-font-style);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    width: 100%;
    margin-bottom: 16px;
  }
  
  .tabs-anuncios .frame-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    padding: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 16px;
  }
  
  .tabs-anuncios .frame-7 {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .tabs-anuncios .avatar {
    position: relative;
    width: 40px;
    height: 40px;
  }
  
  .tabs-anuncios .marta-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .tabs-anuncios .marta {
    position: relative;
    align-self: stretch;
    font-family: var(--mobile-body-regular-s-font-family);
    font-weight: var(--mobile-body-regular-s-font-weight);
    color: #000122;
    font-size: var(--mobile-body-regular-s-font-size);
    letter-spacing: var(--mobile-body-regular-s-letter-spacing);
    line-height: var(--mobile-body-regular-s-line-height);
    font-style: var(--mobile-body-regular-s-font-style);
    word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  width: 100%;
  }
  
  .tabs-anuncios .frame-8 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 9px 9px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .tabs-anuncios .pill {
    display: inline-flex;
    min-width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0px 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  .tabs-anuncios .label-2 {
    position: relative;
    flex: 1;
    font-family: var(--mobile-body-regular-s-font-family);
    font-weight: var(--mobile-body-regular-s-font-weight);
    color: #000122;
    font-size: var(--mobile-body-regular-s-font-size);
    text-align: center;
    letter-spacing: var(--mobile-body-regular-s-letter-spacing);
    line-height: var(--mobile-body-regular-s-line-height);
    font-style: var(--mobile-body-regular-s-font-style);
  }
  
  .tabs-anuncios .pagination-dots {
    display: flex;
    width: 62px;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .tabs-anuncios .rectangle {
    position: relative;
    width: 6px;
    height: 10px;
    background-color: #000122;
    border-radius: 2px;
  }
  
  .tabs-anuncios .rectangle-2 {
    position: relative;
    width: 6px;
    height: 10px;
    background-color: #000122;
    border-radius: 2px;
    opacity: 0.1;
  }
  
