:root {
    --mobile-body-regular-s-font-family: "Roboto Flex", Helvetica;
    --mobile-body-regular-s-font-weight: 400;
    --mobile-body-regular-s-font-size: 14px;
    --mobile-body-regular-s-letter-spacing: 0px;
    --mobile-body-regular-s-line-height: 135%;
    --mobile-body-regular-s-font-style: normal;
  }
  